<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.nextit.backend.mapper.CommunityMapper">
    <!-- 전체 게시글 조회  -->
    <select id="selectAllBoardsWithUser" resultType="kr.or.nextit.backend.model.Community">
        SELECT b.board_id,
               b.title,
               b.content,
               b.create_at,
               b.update_at,
               b.views,
               b.status,
               u.user_id,
               u.user_no
        FROM board b
                 JOIN
             users u
             ON
                 b.user_no = u.user_no
                     AND u.admin = 0
                     AND b.status = 'Y'
        ORDER BY b.board_id DESC
    </select>

    <!-- 공지사항글 조회  -->
    <select id="selectAllBoardsWithAdmin" resultType="kr.or.nextit.backend.model.Community">
        SELECT
            b.board_id,
            b.title,
            b.content,
            b.create_at,
            b.update_at,
            b.views,
            b.status,
            u.user_id
        FROM
            board b
                JOIN
            users u
            ON
                b.user_no = u.user_no
                    AND u.admin = 2
                    AND b.status = 'Y'
        ORDER BY b.board_id DESC
    </select>

    <!-- 특정 게시글 조회 -->
    <select id="selectBoard" parameterType="int" resultType="kr.or.nextit.backend.model.Community">
        SELECT
            b.board_id,
            b.title,
            b.content,
            b.create_at,
            b.update_at,
            b.views,
            b.status,
            u.user_id
        FROM
            board b
                JOIN
            users u
            ON
                b.user_no = u.user_no
        WHERE b.board_id = #{boardId}
    </select>

    <!-- 게시글 등록 -->
    <insert id="insertBoard" parameterType="kr.or.nextit.backend.model.Community" useGeneratedKeys="true" keyProperty="boardId">
        INSERT INTO board (user_no, title, content, create_at, views, status)
        VALUES (#{userNo}, #{title}, #{content}, NOW(), 0, 'Y');
    </insert>


    <!-- 게시글 업데이트 -->
    <update id="updateBoard" parameterType="kr.or.nextit.backend.model.Community">
        UPDATE board b
            JOIN users u
        ON b.user_no = u.user_no
        SET
            b.title = #{title},
            b.content = #{content},
            b.update_at = NOW(),
            b.views = #{views},
            u.user_id = #{userId}
            WHERE
            b.board_id = #{boardId};
    </update>

    <!-- 조회수 업데이트  -->
    <update id="updateViews" parameterType="int">
        update
            board
        set
            views = views +1
        where
            board_id=#{boardId}
    </update>

    <!-- 게시글 삭제 -->
    <update id="deleteBoard" parameterType="kr.or.nextit.backend.model.Community">
        UPDATE board
        SET status = 'N'
        WHERE board_id = #{boardId}
    </update>

    <!-- 관리자 페이지 - 게시판 전체 조회 -->
    <select id="getAdminAllBoards" resultType="kr.or.nextit.backend.model.Community">
        SELECT
            b.board_id,
            b.title,
            b.content,
            b.create_at,
            b.update_at,
            b.views,
            b.status,
            u.user_id
        FROM
            board b
                JOIN
            users u
            ON
                b.user_no = u.user_no
                    AND
                u.admin = 0
        ORDER BY
            b.status,
            b.board_id DESC
    </select>

    <!-- 관리자 페이지 - 공지사항 전체 조회 -->
    <select id="getAdminAllNotices" resultType="kr.or.nextit.backend.model.Community">
        SELECT
            b.board_id,
            b.title,
            b.content,
            b.create_at,
            b.update_at,
            b.views,
            b.status,
            u.user_id
        FROM
            board b
                JOIN
            users u
            ON
                b.user_no = u.user_no
                    AND
                u.admin = 2
        ORDER BY
            b.status,
            b.board_id DESC
    </select>

    <!-- 관리자 페이지 - 게시글 살리기 -->
    <update id="showBoard" parameterType="kr.or.nextit.backend.model.Community">
        UPDATE board
        SET status = 'Y'
        WHERE board_id = #{boardId}
    </update>

    <!-- 관리자 페이지 - 유저 게시글 목록 조회 -->
    <select id="getUserBoardList" resultType="kr.or.nextit.backend.model.Community">
        SELECT
            b.board_id,
            b.title,
            b.content,
            b.create_at,
            b.update_at,
            b.views,
            b.status,
            u.user_id
        FROM
            board b
                JOIN
            users u
            ON
                b.user_no = u.user_no
        WHERE u.user_no = #{userNo}
          AND b.status = 'Y'
    </select>

</mapper>