<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.nextit.backend.mapper.InquiriesMapper">
    <!-- 결과 매핑 정의 -->
    <resultMap id="InquiriesResultMap" type="kr.or.nextit.backend.model.Inquiries">
        <id property="inquirieId" column="inquirie_id"/>
        <result property="userNo" column="user_no"/>
        <result property="type" column="type"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="createAt" column="create_at"/>
        <result property="status" column="status"/>
        <result property="answer " column="answer"/>
        <result property="userId" column="user_id"/>
        <result property="admin" column="admin"/>
    </resultMap>
    <!-- todo 나중에 로그인 기능 구현 하고 나서 Where에 로그인한 유저랑 user_id 일치하는 조건 넣기-->
    <!-- 전체 문의사항 조회  -->
    <select id="allInquiries" resultMap="InquiriesResultMap">
        SELECT
            i.inquirie_id,
            i.type,
            i.title,
            i.content,
            i.create_at,
            i.status,
            i.answer,
            u.user_id
        FROM
            inquiries i
                JOIN
            users u
            ON
                i.user_no = u.user_no
    </select>
    <!-- 특정 문의글 조회  -->
    <select id="selectInquiries" parameterType="int" resultMap="InquiriesResultMap">
        SELECT
            i.inquirie_id,
            i.type,
            i.title,
            i.content,
            i.create_at,
            i.status,
            i.answer,
            u.user_id
        FROM
            inquiries i
                JOIN
            users u
            ON
                i.user_no = u.user_no
        WHERE inquirie_id=#{inquirieId}
    </select>
    <!-- 게시글 등록 -->
    <insert id="insertBoard" parameterType="kr.or.nextit.backend.model.Community">
        INSERT INTO board (user_no, title, content, create_at, views, status)
        VALUES (#{userNo}, #{title}, #{content}, NOW(), 0, 'Y');
    </insert>

<!--    &lt;!&ndash; 첨부파일 삽입 &ndash;&gt;-->
<!--    <insert id="insertBoardFiles" parameterType="kr.or.nextit.backend.model.Files">-->
<!--        INSERT INTO board_files (board_id, file_name, file_original_name, file_path, file_type, file_size, uploaded_at)-->
<!--        VALUES (#{boardId}, #{fileName}, #{fileOriginalName}, #{filePath}, #{fileType}, #{fileSize}, NOW());-->
<!--    </insert>-->


</mapper>