<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.nextit.backend.mapper.InquiriesMapper">
    <!-- 전체 문의사항 조회  -->
    <select id="allInquiries" resultType="kr.or.nextit.backend.model.Inquiries">
        SELECT
            i.inquirie_id,
            i.type,
            i.title,
            i.content,
            i.create_at,
            i.status,
            i.answer,
            i.admin_create_at,
            u.user_id
        FROM
            inquiries i
                JOIN
            users u
            ON
                i.user_no = u.user_no
                    AND
                i.status = 'Y'
        ORDER BY i.create_at DESC
    </select>

    <!-- 특정 문의글 조회  -->
    <select id="selectInquiry" parameterType="int" resultType="kr.or.nextit.backend.model.Inquiries">
        SELECT
            i.inquirie_id,
            i.type,
            i.title,
            i.content,
            i.create_at,
            i.status,
            i.answer,
            i.admin_create_at,
            u.user_id
        FROM
            inquiries i
                JOIN
            users u
            ON
                i.user_no = u.user_no
        WHERE
            inquirie_id = #{inquirieId}
          AND
            i.status = 'Y'
    </select>

    <!-- 문의사항 등록 -->
    <select id="createInquiry" parameterType="kr.or.nextit.backend.model.Inquiries">
        INSERT INTO inquiries (user_no, type, title, content)
        VALUES (#{userNo}, #{type}, #{title}, #{content})
    </select>

    <!-- 관리자 - 문의사항 답변 등록 (수정) -->
    <update id="updateAdminInquiry" parameterType="kr.or.nextit.backend.model.Inquiries">
        UPDATE inquiries
        SET answer = #{answer},
            admin_create_at = NOW()
        WHERE inquirie_id = #{inquirieId}
    </update>

    <!-- 회원 - 문의사항 삭제 -->
    <delete id="deleteUserInquiry" parameterType="int">
        UPDATE inquiries
        SET status = 'N'
        WHERE inquirie_id = #{inquirieId}
    </delete>

    <!-- 관리자 - 문의사항 삭제 -->
    <delete id="deleteAdminInquiry" parameterType="int">
        UPDATE inquiries
        SET answer = ""
        WHERE inquirie_id = #{inquirieId}
    </delete>
</mapper>