<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.nextit.backend.mapper.MedicalRecordMapper">

    <!-- 예약 목록 조회 -->
    <select id="getMedicalRecordList" resultType="kr.or.nextit.backend.model.MedicalRecord">
        SELECT *
        FROM medical_records mr
                 INNER JOIN doctors d
                            ON mr.doctor_no = d.doctor_no
                 INNER JOIN users u
                            ON mr.user_no = u.user_no
                 INNER JOIN medical_department md
                            ON d.department = md.department_no
                                AND d.doctor_no = #{doctorNo}
    </select>

    <!-- 닥터 페이지-환자 전체 목록(+담당의 etc) 조회  -->
    <select id="getAllPatientList" resultType="kr.or.nextit.backend.model.MedicalRecord">
        SELECT *
        FROM medical_records mr
                 JOIN doctors d
                      ON mr.doctor_no = d.doctor_no
                 JOIN users u
                      ON d.doctor_no = u.user_no
                 JOIN medical_department md
                      ON d.department = md.department_no
                          AND u.admin = 1
        ORDER BY u.delete_yn, u.user_no;
    </select>

    <!--  환자 진료 정보 추가  -->
    <insert id="insertPatient" parameterType="kr.or.nextit.backend.model.MedicalRecord">
        INSERT INTO medical_records (recordId, user_no, doctor_no, user_name, diagnosis, treatment,
                                     department_Name, prescription, notes)
        VALUES (#{recordId}, #{userNo} #{doctorNo}, #{userName}, #{diagnosis}, #{treatment},
                #{departmentName}, #{prescription}, #{notes})
    </insert>

    <!--  환자 진료 정보 수정  -->
    <update id="updatePatient" parameterType="kr.or.nextit.backend.model.MedicalRecord">
        UPDATE medical_racords
        SET user_name=#{userName},
            diagnosis=#{diagnosis},
            treatment=#{treatment},
            department_Name=#{departmentName},
            prescription=#{prescription},
            notes=#{notes},
            update_at=CURRENT_TIMESTAMP
        WHERE record_id = #{recordId}
    </update>

</mapper>
